{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
{#      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">#}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Top 10 of the week</title>

  </head>
  <body>
  <body>


  <!-- As a heading -->

    <nav class="navbar navbar-dark bg-primary">
        <form method="get">
            <button type="submit" class="btn"><i class="fa fa-home"></i></button>
        </form>
    <span class="navbar-brand mb-0 h1">PAINT project</span>
    </nav>

    <div class="jumbotron ">

        <h3 class="text-center">SPOTIFY : TOP 10 SONGS OF THE WEEK </h3>

    </div>

  <div class="container">
    <form method="post">
      {% csrf_token %}
        <div class= "form-group row">
            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Input Genre</label>
            <div class="col-sm-6">
                <select name="uri" id="colFormLabelLg" placeholder="type uri">
                    {% if results_Genre %}
                        {% for g in results_Genre %}
                            <option value="{{ g }}">{{ g }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <button type="submit" class="btn-dark"><i class="fa fa-search"></i></button>

            </div>
        </div>
    </form>
  </div>

    {% if results %}
    <div class="container bg-dark p-4">
    {% for x in results %}
        <ol class="list-group mt-2">
            <li class="list-group-item bg-info text-center"><h3 class="text-white" >{{x.track.name}}  </h3><h5 class="text-black-50" > {{x.track.artists.0.name}}</h5></li>
{#        <li class="list-group-item bg-info text-center"><h5 class="text-black-50" > {{x.track.artists.0.name}}</h5></li>#}
            <iframe src="https://open.spotify.com/embed/track/{{ x.track.id }}" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </ol>
    </ol><hr>
    {% endfor %}
    </div>
     {% endif %}
    </div>



  </body>
</html>